body {
    margin:0px;
}

h2, h5, h6, li, span{
    font-family: 'Lato', sans-serif;
}

.innerJumbo {
    height:50vh;
    
}
.row-content {
    min-height:225px;
    padding: 50px 0;
    border-bottom: 1px ridge;
}

#heading {
    width:100%;
    padding-top:5px;
    background-image: url(../../img/nville.jpg); 
    background-size: cover ;
    
}

#deadheading {
    width:100%;
    padding-top:5px;
    background-size: cover ;
    
}


#contact_header {
    width:100%;
    padding-top:5px;
    background:white; 
}


#innerJumboContainer {
    padding:5rem;
}
#header_pic {
    height: 52.5vh;
}


.av1 {
    height:200px;
    width:200px;
}

.checked {
    color: orange;
  }
