body {
    margin:0px;
}

h2, h5, h6, li, span{
    font-family: 'Lato', sans-serif;
}

.blue {
    height:100rem;
}

.innerJumbo {
    height:65vh;
    
}
.row-content {
    min-height:225px;
    padding: 50px 0;
    border-bottom: 1px ridge;
}

#heading {
    width:100%;
    padding-top:5px;
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 33.74%, rgba(0, 0, 0, 0) 62.9%), url(../img/lance_nashville.jpg) ; 
    background-size: cover ;
    background-position:33% 0%;
    max-height: 100rem;
   
}


#deadheading {
    width:100%;
    padding-top:5px;
    background-size: cover ;
    
}

.hc {

color: white;
font-family: 'Nunito', sans-serif;
font-style: normal;
font-weight: ;

}




#contact_header {
    width:100%;
    padding-top:5px;
    background:white; 
}


#innerJumboContainer {
    padding:1rem;
}
#header_pic {
    height: 52.5vh;
}


.av1 {
    height:200px;
    width:200px;
}

.checked {
    color: orange;
  }

  .formWidth {
      width:30rem;
      margin: 5% 10% 0 30%;
  }

  .loginDiv{
      margin: auto;
      text-align: center;
  }

  .loginDiv h3 {
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 30px;
      color: white;
	  font-size: 45px;
	  -webkit-text-stroke: 1px #0275d8;
  }